.container {
  width: fit-content;
  max-height: 200px;
  overflow-y: scroll;
}

.header {
  font-weight: bold;
  padding: 5px;
}

.bad {
  background-color: hwb(0 56% 0%);
  color: hwb(0 0% 47%);
  border: 1px solid hwb(0 0% 47%);
}

.danger {
  background-color: hwb(34 13% 5%);
  color: hwb(34 7% 50%);
  border: 1px solid hwb(34 7% 50%);
}

.good {
  background-color: hwb(60 84% 0%);
  color: hwb(60 0% 52%);
  border: 1px solid hwb(60 0% 52%);
}

.very-good {
  background-color: hwb(96 42% 0%);
  color: hwb(91 1% 63%);
  border: 1px solid hwb(91 1% 63%);
}