.container,
.container > input,
.message {
  font-size: 72px;
}

.container > input {
  width: 2em;
  margin-left: 0.25em;
  border: none;
  outline: none;
}

.container > input:active {
    border: none;
    outline: none;
}

.wrong {
  color: red;
  text-decoration: line-through solid red;
}

.correct {
  color: green;
}
